meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="css/js2angular.css")
link(rel="stylesheet" href="../node_modules/mdi/css/materialdesignicons.min.css")
link(rel="stylesheet" href="../vendor/font-awesome-4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,700")
title Js 2 Angular