extends ../../shared/page
include ../../components/product/product
include ../../components/product/nav/product-nav

block content
  +productNavigation('Man / Active wear')
  div.single-product
    +product({
      action: 'Buy',
      actionType: 'buy',
      image: null,
      amount: 25,
      rating: 3,
      name: 'Lorme shirt',
      price: 3000
    }, false)