mixin logout(username)
  div.logout
    span.logout__item.logout__hello Hello,
    span.logout__item.logout__username=username
    a.logout__link(href="#")
      img.logout__image(src="images/logout.svg")
